/* Some of the immediate code will ensure the footer is pinned to the bottom of the page*/
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Below is the styling for the header content/Hero text*/
ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #FFF;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 16px 96px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.header-title {
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;
}

.header-list {
    margin: 0;
}

.header-content {
    display: flex;
    gap: 16px;
    margin-bottom: 48px;
}

.sub-section-one {
    flex: 1;
}

.sub-section-two {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    background-color: grey;
}

.heading {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.sub-text {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 16px;
}

.header-button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 8px 24px;
    border-radius: 8px;
    text-wrap: nowrap;
    width: min-content;
}

/* Below is the styling for the first main body section */

.section-one {
    background-color: #F9FAF8;
    padding: 48px 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-one-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 24px;
}

.row-boxes {
    display: flex;
    gap: 24px;
}

.box-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 200px;
}

.box {
    flex: 1 1 100%;
    height: max-content;
    aspect-ratio: 1/1;
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.box-text {
    flex: 1;
    text-align: center;
}

/* Below is the styling for the second section*/

.section-two {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-section {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin-block: 48px;
}

.quote {
    line-height: 1.6;
    font-size: 24px;
    font-style: italic;
    font-weight: lighter;
    flex: 1 1 100%;
}

.quote-author {
    text-align: end;
    font-weight: 700;
    flex: 1 1 100%;
}

/* Below is the code to style the footer */
footer {
    flex-shrink: 0;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 96px;
    margin-top: 0;
}