body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #FFF;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 16px 96px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.header-title {
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;
}

.header-list {
    margin: 0;
}

.section-one {
    display: flex;
    gap: 16px;
    margin-bottom: 48px;
}

.sub-section-one {
    flex: 1;
}

.sub-section-two {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    background-color: grey;
}

.heading {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.sub-text {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 16px;
}

.header-button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 8px 24px;
    border-radius: 8px;
    text-wrap: nowrap;
    width: min-content;
}

footer {
    flex-shrink: 0;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 96px;
    margin-top: 0;
}